body {
    max-width:900px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FFD4EA;
}
header{
    max-width:900px;
    width: 100%;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-indent: 45px;
    border-radius: 10px;
    
}
footer{
    max-width:900px;
    width: 100%;
    height: 80px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
    border-radius: 10px;
}

#gridadapted{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 15px;
    grid-template-rows: 6,1fr;
}
article{
    border:solid;
    border-radius: 8px;
}

p.companyname{
    font-family: 'Anton', sans-serif;
    background-color: #E5FF56;
    color: #222A53;
}