


body {
    max-width:900px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FFD4EA;
}

header{
    max-width:900px;
    width: 100%;
    height:100px;
    border-radius: 10px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-indent: 45px;
    font-size: 32px;
}
footer{
    max-width:900px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
}