/*@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lato:wght@300&display=swap');*/

/*font-family: 'Anton', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

body {
    max-width:900px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FFD4EA;
}
nav,main{
    margin:1.25rem auto;
    max-width:750px;
}
header{
    max-width:900px;
    width: 100%;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-indent: 45px;
    
}
footer{
    max-width:900px;
    width: 100%;
    height: 80px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
}


h3{
    margin-top:3em;
    border-bottom: 1px double #222A53;
    max-width:750px;
}
ul{
    max-width:750px;
}
img.pic-right{
    width:200px;
    margin-top: 60px;

}
p.lastupdate{
    font-size:13px;
    text-indent: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}