
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lato:wght@300&display=swap');

body {
font-size: 15px;
line-height: 1.5;
}

header,nav,main,footer{
    margin:1.25rem auto;
    max-width:750px;
}

header,footer{
    background-color: #222A53;
    font-family: "Lato",serif;
    color:azure;

}

body{
    background-color: #FFD4EA;

}

img.pic-right{
    width:250px;
    float:right;
}