
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lato:wght@300&display=swap');

body {
    background-color: #FFD4EA;
    max-width:750px;
    margin:1.25rem auto;
    font-size: 15px;
    line-height: 1.5;
}

header,h3,nav,main,footer{
    margin:1.25rem auto;
    max-width:750px;
}

header,footer{
    margin: 20px;
    background-color: #222A53;
    font-family: "Lato",serif;
    color:azure;


}

h3{
    margin-top:3em;
    border-bottom: 5px;

}

ul{
    max-width:750px;
}

img.pic-right{
    width:250px;
    float:right;
    margin: auto;
    position: fixed;
}