
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lato:wght@300&display=swap');

body {
    background-color: #FFD4EA;
    max-width:750px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
}
header,nav,main,footer{
    margin:1.25rem auto;
    max-width:750px;
    text-indent: 20px;
}
header{
    background-color: #222A53;
    font-family: "Lato",serif;
    color:azure;
    max-width:750px;
}
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
}

footer{
    max-width:750px;
    width: 100%;
    background-color: #222A53;
    font-family: "Lato",serif;
    color:azure;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
h3{
    margin-top:3em;
    border-bottom: 2px solid #222A53;
    max-width:750px;
}
ul{
    max-width:750px;
}
img.pic-right{
    width:250px;
    float:right;
    margin: auto;
    margin-top: -50px;
    margin-right: 30px;
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.5);
}
.date{
    font-size:;
    text-indent: 20px;
}