
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Lato:wght@300&display=swap');

body {
    max-width:900px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FFD4EA;
}
nav,main{
    margin:1.25rem auto;
    max-width:750px;
}
header{
    max-width:900px;
    width: 100%;
    height:100px;
    border-radius: 10px;
    background-color: #222A53;
    color:azure;
    font-family: "Lato",serif;
    text-indent: 45px;
    font-size: 32px;
}
footer{
    max-width:900px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #222A53;
    color:azure;
    font-family: "Lato",serif;
    text-align: center;
}

h3{
    margin-top:3em;
    border-bottom: 1px double #222A53;
    max-width:750px;
}
ul{
    max-width:750px;
}
img.pic-right{
    width:250px;
    float:right;
    margin: auto;
    margin-top: -100px;
    margin-right: 0px;
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.5);
}
p.lastupdate{
    font-size:13px;
    text-indent: 20px;
}