
body img[data-src]{
    filter:blur(0.5rem);
}
body img{
    width:300px;
    margin: 10px;
    filter:blur(0rem);
    transition: filter 2s;
}
body {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;}