
/*color scheme
#73F1FF: light blue
#C0FF53: light green
#FF4BD7: pink
#ffa217: orange
*/



body{
    background-color:#FFFFFF;
}
/*-----------------headter/footer decoration---------------*/
header{
    width: 100%;
}
img{
    width:50px;
    float:left;
    margin-left:10%;
    margin-top:10px;
}
.headerh1{
    display:inline;
    font-family: 'Corben', cursive;
    color:#FF4BD7;
    font-size: 2.5em;
}
header, footer{
    color: #2B8E2F;
    background-color: #C0FF53;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
/*---------------------nav decoration----------------------*/

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-family: 'Corben', cursive;

}
nav{
    margin-top: 10px;
    background-color: #73F1FF;
    font-family: 'Yusei Magic', sans-serif;
}
nav ul{
    list-style-type: none;
    padding: 1em;
}
nav ul li{
    display: block;
    font-size: 1em;
}

nav ul li a {
    color: #FF4BD7;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover{
    background-color: #24B2C2;
    color: #fff;
}

/*---------------------------------------------------------*/

h3{
    color: #ffa217;
}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  