@media only screen and (min-width: 500px) {
/*
Title font---font-family: 'Chango', cursive;
Other font---font-family: 'Della Respira', serif;

Color palette
Blue--- #378BA2
White--- #EDEDED
Black--- #333848
yellow--- #FEE865
red--- #E24568*/

#chamberinfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.graphicinfo{
    padding: 3%;
}

#googlemap{
    width:600px;
    height: 450px;
}
.map{
    width:600px;
    height: 450px;
    border: solid 5px #378BA2;
}

.submit{
    margin: 3%;
    font-size: 1rem;
    color: #EDEDED;
    background-color: #333848;
}
.submit a{
    color: #EDEDED;
    text-decoration: none;
}

}