/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a{
        padding: 10px;
    }
    nav ul{
        padding: 0;
        margin: 0;}

 
}/*end large*/