@media screen and (min-width: 900px){

    .gridadapted{
        display: grid;
        /*grid-template-columns:1fr 1fr 1fr;*/
        grid-column-gap: 15px;
        }

    body{
        background-color: #FFD4EA;
    }
}