body {
    max-width:950px;
    margin:1.25rem auto;
    font-size: 18px;
    line-height: 1.5;
    background-color: #FFD4EA;
}
header{
    max-width:900px;
    width: 100%;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-indent: 45px;
    border-radius: 10px;
    
}
footer{
    max-width:900px;
    width: 100%;
    height: 80px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
    border-radius: 10px;
}

#gridadapted{
    display: grid;
    column-gap: 10px;
    grid-template-columns:1fr;
}
article{
    border:solid;
    border-radius: 10px;
    background-color:#222A53;
    padding: 3px;
}

p.companyname{
    font-family: 'Anton', sans-serif;
    background-color: #E5FF56;
    color: #222A53;
    margin: auto;
    padding-left: 10px;
}
img{
    width:300px;
    height:560px;
}
.principle1,.principle2,.principle3{
    grid-row-start: 1;
    grid-row-end:5;
}
