@media screen and (min-width: 400px)and(max-width:900px){

    .gridadapted{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    body{
        background-color: yellowgreen;
    }
}