header{
    width: 100%;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-indent: 45px;
    
}
footer{
    width: 100%;
    height: 80px;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
}
h3{
    margin-top:3em;
    border-bottom: 1px double #222A53;
    max-width:750px;
}
body{
    font-size: 18px;
    background-color:  #FFD4EA;;
}