body{
    font-size: 1.3em;
    background-color:  #FFD4EA;
    margin: 0 auto;
}

header,footer{
    width: 100%;
    background-color: #222A53;
    color:azure;
    font-family: 'Anton', sans-serif;
    /*font-family: "Lato",serif;*/
    text-align: center;
    border-radius: 10px;
}
header{font-size: 2.5em;}
/*h1{
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
}*/
h3{
    margin-top:auto;
    color: #222A53;
}

nav ul{
    background-color: #E5FF56;
    list-style: none;
    display:block;
    text-align: center;
}

/*--------------------------------------Table colors--------------------------------------------------------*/
table{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
tr td{
    width:300px;
}
th{
    border-bottom: 2px solid  #222A53;
}
.headerfooter1{
    background-color: #C0FF53;
}
.headerfooter2{
    background-color: #FF4BD7;
}
.footer{
    background-color: #C0FF53;
}
.H1{
    background-color: #FFAD33;
}
.Paragraph{
    background-color: #FFFFFF;
}
.nav{
    background-color: #73F1FF;
}
/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------------Table Typography------------------------------------------------------*/
.t-nav{
    font-family: 'Yusei Magic', sans-serif;
}
.t-headerh1{
    font-family: 'Corben', cursive;
}
.t-Paragraph{
    font-family: 'Source Sans Pro', sans-serif;
}
/*----------------------------------------------------------------------------------------------------------*/