
/*
Title font---font-family: 'Chango', cursive;
Other font---font-family: 'Della Respira', serif;

Color palette
Blue--- #378BA2
White--- #EDEDED
Black--- #333848
yellow--- #FEE865
red--- #E24568*/


@media only screen and (min-width: 34rem) {


.topic1{
    display: flex;
    flex-direction: row;
}

.growth{
    width: 50%;
    height: 50%;
    margin-top: 2.3rem;
}
.cityinfo{
    display: flex;
    flex-direction: row;
    margin: 2%;
}
.infocontant{
    padding-left: 2%;
}
table{
    margin: 0 auto;
}

}