@media only screen and (min-width: 500px) {

main{
    width: 900px;
    margin: 0 auto;
}
/*---------font-----------------------------------------------------------------------------------------------------*/
h1{
    font-size: 2.5em;
}


/*-------header----------------------------------------------------------------------------------------------------*/
#top{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;

    }
    
.logo{
    margin-block-start: 2em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width:120px;
    display: inline;

}

/*----nav---------------------------------------*/
nav{
    width:100%;
    text-align: center;
}
nav button{
    display: none;
}
nav ul.hide{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
   .Snav-ul{

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weatheSection{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 2%;
}
#icon{
    margin:0;
}
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer-gather{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


}