

/*
Title font--- font-family: 'PT Serif', serif;
Other font---font-family: 'Della Respira', serif;

Color palette
Blue--- #378BA2
White--- #EDEDED
Black--- #333848
yellow--- #FEE865
red--- #E24568*/

body{
    background-color: #EDEDED;
    width: 100%;

}
header, footer{
    background-color: #333848;
}
main{
    margin: 0;
    width: 95%;
    margin:3%;
}
/*-------fonts----------------------------------------------------------------------------------------------------*/
h1{
    color: #FEE865;
    font-family: 'PT Serif', serif;
}
#top{
    text-align: center;
}
h2{
    font-family: 'PT Serif', serif;
}
h4{
    font-size: 20px;
    font-family: 'PT Serif', serif;
}
h5{ font-size: 1.5rem;
    font-family: 'PT Serif', serif;
    background-color: rgba(254, 232, 101, 0.5);
    padding-top:5px;
    padding-bottom: 5px;
    margin: 0;
    padding: 2%;
}
h6{ font-size: 1rem;
    font-family: 'PT Serif', serif;
    background-color: #333848;
    color: #EDEDED;
    margin: 0;
    padding: 2%;
}
p{
    font-family: 'Della Respira', serif;
}

/*-------header----------------------------------------------------------------------------------------------------*/

.logo{
    width:40%;
    display: block;
    margin: auto;

}
/*------nav-----*/
.head-nav{
    display: block;
 
}
nav button{
    background-color: #378BA2;
    color: #EDEDED;
    font-family: 'PT Serif', serif;
    border: none;
    font-size: 1.5rem;
    margin-bottom:2%;

}
nav ul{
    list-style-type: none;
    padding:0;
    border-bottom: solid 1px #378BA2;
    border-top: solid 1px #378BA2;
}
nav ul li{
    display: block;
    font-family: 'PT Serif', serif;
    font-size: 15px;
}
nav ul li a{
    display: block;
    color: #EDEDED;
    text-decoration: none;
    padding: 2%;
}

nav ul li a:hover{
    background-color: #378BA2;
    font-size: 20px;
    font-weight: bold;
    color: #FEE865;
}


.hero-img{
    width: 100%;
}

nav ul.hide{display: none;}

.second-nav{
    border-bottom:none;
}
.Snav-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;
}
.Snav-li{
    text-align: center;
}
/*-------career----------------------------------------------------------------------------------------------------*/
.carrerSupport{
    background-color: rgba(254, 232, 101, 0.5);
    text-align: center;
    margin-right:5%;
    margin-bottom: 5%;
}
.certificate{
    color: #EDEDED;
    background-color: #378BA2;
    font-family: 'PT Serif', serif;
    border: none;
    font-size: 1.5rem;
    margin: 3%;
}

.certificate a{
text-decoration: none;
color: #EDEDED;
}

.certificate a:hover{
    font-size: 2rem;
    font-weight: bold;
}

/*-------weather----------------------------------------------------------------------------------------------------*/
.www{

    align-items: center;
}
.weatheSection{
    display: flex;
    flex-direction: column;
    padding:5%;
    box-shadow: 0 0 5px  #378BA2  ;
}

.CW{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#icon{
    margin: 15%;
    width: 70%;
}
/*.wContent{
    padding-left: 5%;
}*/

.threedaysforcast{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.onecast{
    text-align: center;
}
#w-temmp1,#w-temmp2,#w-temmp3{
    display: flex;
}
/*---------event cards------------------------------------------------------------------------------------------------*/
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width:80%;
    text-align: left;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    box-shadow: 0 0 5px  #378BA2  ;
}
.cardimg{
    width:100%;
    height: 60%;
}
.card-p{
    margin: 0;
    padding: 2%;
}

/*--------join-----------------------------------------------------------------------------------------------------------*/
.join-member{
    background-color:#378BA2 ;
    text-align: center;
    margin-right:5%;
}
.join{
    color: #333848;
    background-color: #FEE865;
    font-family: 'PT Serif', serif;
    border: none;
    font-size: 1.5rem;
    margin: 3%;

}
.join a{
    text-decoration: none;
}
.join a:hover{
    font-size: 2rem;
    font-weight: bold;
}


/*-------ad----------------------------------------------------------------------------------------------------*/
#addd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin-top: 5%;
    margin-left: 0;
}
.ad{
    width:100%;
}
/*-------footer----------------------------------------------------------------------------------------------------*/
footer{
    padding-left: 5%;
    color: #EDEDED;
    display: grid;
}
.snsImg{
    width:65px;
   
}
#sNs{
    display: flex;
    justify-content: center;
    align-content: center;
}
#googlemap{
    width: 100%;
}


.map{
    width:100%;
    border: solid 5px #378BA2;
}
.topics{
    background-color: rgba(254, 232, 101, 0.5);
    padding: 3%;
    margin-bottom: 3%;
}
.tayu{
    width: 60%;
}

