/*
Title font---font-family: 'Chango', cursive;
Other font---font-family: 'Della Respira', serif;

Color palette
Blue--- #378BA2
White--- #EDEDED
Black--- #333848
yellow--- #FEE865
red--- #E24568*/

body{
    background-color: #EDEDED;
    width: 100%;
    margin:0;
}
header, footer{
    background-color: #333848;
}
main{
    width: 95%;
    margin:5%;
}
/*-------header----------------------------------------------------------------------------------------------------*/
#top{

}
.logo{
    width:40%;
    display: block;
    margin: auto;

}
/*nav*/
.head-nav{
    display: block;
 
}
nav button{
    background-color: #FEE865;
    color: #333848;
    border: none;
    font-size: 1.5rem;
    margin-bottom:2%;

}
nav ul{
    list-style-type: none;
    padding:0;
    border-bottom: solid 1px #378BA2;
    border-top: solid 1px #378BA2;
}
nav ul li{
    display: block;
    
}
nav ul li a{
    display: block;
    color: #EDEDED;
    text-decoration: none;
    padding: 2%;
}
.hero-img{
    width: 100%;
}

nav ul.hide{display: none;}

.second-nav{
    border-bottom:none;

}
.Snav-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;
}
.Snav-li{
    text-align: center;
}
/*-------weather----------------------------------------------------------------------------------------------------*/
.weatheSection{
    margin-left: 2%;
    width:85%;
    padding:5%;
    box-shadow: 0 0 5px  #378BA2  ;
}

.CW{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#icon{
    margin: 15%;
    width: 70%;
}
/*.wContent{
    padding-left: 5%;
}*/

.threedaysforcast{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.onecast{
    text-align: center;
}
#w-temmp1,#w-temmp2,#w-temmp3{
    display: flex;
}



.join-member{
    background-color:#378BA2 ;
    text-align: center;
    margin-right:5%;
}

/*-------footer----------------------------------------------------------------------------------------------------*/
footer{
    padding-left: 5%;
    color: #EDEDED;
    display: grid;
}
.snsImg{
    width:65px;
   
}
#sNs{
    display: flex;
    justify-content: center;
    align-content: center;
}