/*
Title font---font-family: 'Chango', cursive;
Other font---font-family: 'Della Respira', serif;

Color palette
Blue--- #378BA2
White--- #EDEDED
Black--- #333848
yellow--- #FEE865
red--- #E24568*/

body{
    background-color: #EDEDED;
}
header, footer{
    background-color: #333848;
}